## Install tableauhyperapi package

In [1]:
!pip install tableauhyperapi

Collecting tableauhyperapi
  Downloading tableauhyperapi-0.0.18825-py3-none-manylinux2014_x86_64.whl.metadata (1.3 kB)
Requirement already satisfied: cffi!=1.14.3,<2,>=1.12.2 in /home/csaavedra/miniconda3/lib/python3.11/site-packages (from tableauhyperapi) (1.16.0)
Requirement already satisfied: pycparser in /home/csaavedra/miniconda3/lib/python3.11/site-packages (from cffi!=1.14.3,<2,>=1.12.2->tableauhyperapi) (2.21)
Downloading tableauhyperapi-0.0.18825-py3-none-manylinux2014_x86_64.whl (69.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.5/69.5 MB 22.2 MB/s eta 0:00:0000:0100:01
Installing collected packages: tableauhyperapi
Successfully installed tableauhyperapi-0.0.18825

### Import libraries

In [2]:
from pathlib import Path
from tableauhyperapi import HyperProcess, Telemetry, \
    Connection, CreateMode, \
    NOT_NULLABLE, NULLABLE, SqlType, TableDefinition, \
    Inserter, \
    escape_name, escape_string_literal, \
    HyperException

### Set variables

In [3]:
csv_file   = r'/home/csaavedra/tc24/1062/demo1/temp/Actual and Forecast Consolidated 202401.csv'
hyper_file = r'/home/csaavedra/tc24/1062/demo1/temp/Consolidated.hyper'

### Definitions

In [4]:
table = TableDefinition(
    table_name="Consolidated",
    columns=[
        TableDefinition.Column("Product",          SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("UOM",              SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("Category",         SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("Region",           SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("Id",               SqlType.big_int(), NOT_NULLABLE),
        TableDefinition.Column("Period",           SqlType.date(), NOT_NULLABLE),
        TableDefinition.Column("Value",            SqlType.double(), NOT_NULLABLE), #6
        TableDefinition.Column("Color",            SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("Comments",         SqlType.text(), NULLABLE),
        TableDefinition.Column("View",             SqlType.text(), NOT_NULLABLE),
        TableDefinition.Column("Reported_period",  SqlType.text(), NOT_NULLABLE),

    ]
)

### Generate Hyper File

In [5]:
print(f"[Loading file: {csv_file}...]")
path_to_database = Path(hyper_file)

with HyperProcess(telemetry=Telemetry.SEND_USAGE_DATA_TO_TABLEAU) as hyper:

    connection_parameters = {"lc_time": "en_US"}
    with Connection(endpoint=hyper.endpoint,
                    database=path_to_database,
                    create_mode=CreateMode.CREATE_AND_REPLACE,
                    parameters=connection_parameters) as connection:

        connection.catalog.create_table(table_definition=table)
        count_in_table = connection.execute_command(
            command=f"COPY {table.table_name} from {escape_string_literal(csv_file)} with "
            f"(format csv, NULL 'NULL', delimiter ',', header)")

        print(f"Number of records in the table {table.table_name} is {count_in_table}.")

print("[End.]")

[Loading file: /home/csaavedra/tc24/1062/demo1/temp/Actual and Forecast Consolidated 202401.csv...]
Number of records in the table "Consolidated" is 768.
[End.]